<footer
  [style.display]="pathName === 'admin' ? 'none' : 'block'"
  class="footer"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="./assets/img/logo.png" alt="" class="footer__logo" />
        <ul class="footer__list">
          <li class="footer__item">
            <h3>No. 342 - London Oxford Street,</h3>
          </li>
          <li class="footer__item">
            <h3>012 United States</h3>
          </li>
          <li class="footer__item">
            <h3>Youremail@gmail.com</h3>
          </li>
          <li class="footer__item">
            <h3>+0283 838 8393</h3>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h3 class="footer__heading">Liên kết hữu ích</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <h3>Về chúng tôi</h3>
          </li>
          <li class="footer__item">
            <h3>Chính sách bảo mật</h3>
          </li>
          <li class="footer__item">
            <h3>Điều khoản và điều kiện</h3>
          </li>
          <li class="footer__item">
            <h3>Liên hệ chúng tôi</h3>
          </li>
          <li class="footer__item">
            <h3>Trợ giúp & Hỗ trợ</h3>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h3 class="footer__heading">Tài khoản của tôi</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <h3>Tài khoản của tôi</h3>
          </li>
          <li routerLink="/cart" class="footer__item">
            <h3>Giỏ hàng</h3>
          </li>
          <li class="footer__item">
            <h3>Sản phẩm yêu thích</h3>
          </li>
          <li class="footer__item">
            <h3>Đăng ký</h3>
          </li>
          <li class="footer__item">
            <h3>Thủ tục thanh toán</h3>
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h3 class="footer__heading">Đăng ký nhận bản tin của chúng tôi</h3>
        <p class="footer__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida.
        </p>
        <div class="footer__input">
          <input type="text" placeholder="Nhập địa chỉ email của bạn..." />
          <button>ĐĂNG KÝ</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer__payment">
          <h3>© 2019 CodeAstrology. All Rights Reserved.</h3>
          <img src="../../assets/img/payment.png" />
        </div>
      </div>
    </div>
  </div>
</footer>
